@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Cabin');

body{
    align-content: center;
    text-align: center;
    margin: 0 auto;   
    background-image: url("resources/fondo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.droidSans{
	font-family: 'Droid Sans', sans-serif;
}

.roboto{
	font-family: 'Roboto', sans-serif;
}

.cabin{
	font-family: 'Cabin', sans-serif;
}

.padding100{
	padding-top: 100px;
}

.respuestaMsg{
	font-size: 40px;
}

.marginTopTabla{
	margin-top: 2%;
}

.marginBottomTabla{
	margin-bottom: 2%;
}

.btnRegresar{
	margin-top: 2%;
}

.btn-xlarge{
  margin: 10px;
  width: 150px;
  height: 150px;
  padding: 31px 35px;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #47a3da;
  border: 0;
  cursor: pointer;
  border-radius: 100%;
}

.respuestaCheck{
    margin: 10px;
    width: 110px;
    height: 110px;
    padding: 19px 22px;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #23e629;
    border: 0;
    cursor: pointer;
    border-radius: 100%;
}

.btn-xlarge:hover {
  background: #CCC914;
}

.NombreUsuario{
    position: absolute;
    margin-right: 10%;
    color:#fff;
}

.agrupar{
    width:30%;
    height:40%;
    margin: 0 auto;    
    border: 2px solid #084B8A;
    margin-top: 10%;
    border-radius: 2%;
}

.caja{
    display: inline-block;
    width:30%;
    height:40%;
    margin: 0 auto;    
    border: 2px solid #084B8A;
    margin-top: 10%;
    padding: 2% 10% 2% 10%;
    font-size: 20px;
    border-radius: 2%;
    background-color: #fff;
}

.cajaAlt{
    display: inline-block;
    width:30%;
    height:40%;
    margin: 20% auto;    
    margin-top: 10%;
    padding: 2% 10% 2% 10%;
    font-size: 20px;
    background-color: #fff;
}

.cajaformulario{
    display: inline-block;
    width:30%;
    height:40%;
    margin: 0 auto;    
    border: 2px solid #084B8A;
    margin-top: 1%;
    padding: 2% 15% 2% 15%;
    font-size: 20px;
    border-radius: 2%;
    background-color: #fff;
}

.caja img{
    width: 100px;
    height: 100px;
    line-height:normal;
    font-size:11px;
    display:inline-block;
    margin:10px auto;    
    color:white;
    font-style:italic;
    padding:5px;
    text-align:center;
}

.caja img:hover{
    background-color: #cc3300;
}

.alerta{
    color:#cc3300;
    font-size: 12px;
    position: static;

}

#nombreUsuario{
    background: #fff;
    font-style:italic;
    width: 100%;
}

.inputText{
    color: #cccccc;
    margin-top: 2%;
}

header{
    width: 100%;
    height: 10%;    
    display: inline;
    margin-top: 60px;
}

input, select{
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 5px;
}

input.text{    
    margin: 2%;
    width: 200px;
    height: 20px;
    text-decoration: background;
}

input.radio{
    margin: 5%;
}

#menu{
    background: #006699;;
    color:#000000;
    /*    padding: 5px 5px;*/
    height: 5%;
    width: 100%;
    text-align: center;
    position: fixed;
}


#menu ul{
    margin-right: 6%;
    margin-bottom: 10%;
    margin-left: 3%;
}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 15px;        
    font: bold 14px verdana, sans-serif;
    background-color:#ffffff;
    border-left-color:#006699; 
    border: #006699 groove 3px;
    font-size: 18px;
    color: #006699;
    width: 100px;   
    text-align: center;
}

#menu li:hover{
    background-color:#cc3300;
    color: #ffffff;
}

.tabla{
    top: 20%;
}


.tablaPrincipal{
    align-content: center;
    margin: 0 auto;
    width: 50%;
}


.tablaPrincipal td#centro{
    width: 50%;
}

.tablaPrincipal td#derecho{
    width: 25%;
}

.tablaPrincipal td#izquierdo{
    width: 25%;
    background: #000000;
    color: white;
}

#tablaFormulario{    
    text-align: left;
    width: auto;
    background:#ccccff;
    margin-top: 5%;
    padding: 2% 5% 2% 5%;
    border-radius: 2%;
}

#tablaDetallePersona{
	max-width: 1040px;
  	margin: 10px auto;
}

#tablaDetallePersona thead th {
  font-weight: 400;
  background: #47a3da;
  color: #FFF;
}

#tablaDetallePersona tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

#tablaDetallePersona tr:nth-child(even) {
  background: #e8eeef;
}

#tablaDetallePersona th, td {
  text-align: center;
  padding: 10px;
  font-weight: 300;
}

.flat-table {
	display: initial;
	-webkit-font-smoothing: antialiased;
}

#eps{
    width: 100%;
}

#aside{

    position: fixed;
    display: block;
    float: left;
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 10%;
    background-color:#006699;
    padding: 1%;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    text-align: left;
    overflow:hidden;

}

#aside h1{
    color: #084B8A;
    font-size: 13px;
    display: block;
    background:aliceblue;
    border: #000 solid 0.5px;
    padding: 2px;
}

#aside ul li:link{
    text-decoration: none;
    text-transform: capitalize;
}

#aside a{
    text-decoration: none;
    color: yellow;
}
#aside a:hover{
    text-decoration: none;
    color: #fff;
    background: #cc3300;
}


#formularioIngreso{
    border: #006699 double 2px;
    width: 30%;
    margin: auto;
    margin-top: 10%; 
    text-align: left;
    padding: 1%;
    background-color: #fff;
    border-radius: 10px;

}

.btnLogout {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btnLogout-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btnReturn{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btnReturn-warning {
    color: #fff;
    background-color: #ded749;
    border-color: #cacd41;
}

#register-form {
 	background:#fff;
    border: 1px solid #DFDCDC;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
    /*padding: 25px 50px 10px;*/
    padding-left: 10px;
    padding-right: 55px;
    width: 60%;
 	font-family:Tahoma, Geneva, sans-serif;
}

#register-form .fieldgroup {
    display: inline-block;
    padding: 8px 10px;
    width: 340px;
}

#register-form .fieldgroupTextArea {
    display: inline-block;
    padding: 8px 10px;
    width: 94%;
}

.marginTextArea{
    margin-top: 2%;
    margin-left: 1%;
}

.sizeTextArea{
	width: 80%;
	height: 150px;
}

fieldset{ border:none; }

#register-form .fieldgroup input{
    margin: 10px 0;
    height: 40px;
 	width:100%;
	border:solid #cdcdcd 1px;
 	border-radius:3px;
 	padding-left:10px;
 	font-size: 16px;
}

#register-form .fieldgroup select{
    margin: 10px 0;
    height: 40px;
 	width:103%;
	border:solid #cdcdcd 1px;
 	border-radius:3px;
 	padding-left:10px;
 	font-size: 16px;
}

#register-form .submit {
    padding: 10px;
    height: 40px !important;
 background:#00a2d1;
 color:#fff;
 font-weight:bolder;
 border:solid #cdcdcd 1px;
 border-radius:3px;
}


#register-form .fieldgroup label.error {
    color: #FB3A3A;
    display: inline-block;
    font-weight:500;
    padding: 0;
    text-align: left;
}

#registerForm {
 	background:#fff;
    border: 1px solid #DFDCDC;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 55px;
    width: 60%;
 	font-family:Tahoma, Geneva, sans-serif;
}

#registerForm .fieldgroup {
    display: inline-block;
    padding: 8px 10px;
    width: 340px;
}

fieldset{ 
	border:none; 
}

#registerForm .fieldgroup input{
    margin: 10px 0;
    height: 40px;
 	width:100%;
	border:solid #cdcdcd 1px;
 	border-radius:3px;
 	padding-left:10px;
 	font-size: 16px;
}

#registerForm .fieldgroup select{
    margin: 10px 0;
    height: 40px;
 	width:103%;
	border:solid #cdcdcd 1px;
 	border-radius:3px;
 	padding-left:10px;
 	font-size: 16px;
}

#registerForm .submit {
    padding: 10px;
    height: 40px !important;
 background:#00a2d1;
 color:#fff;
 font-weight:bolder;
 border:solid #cdcdcd 1px;
 border-radius:3px;
}

#registerForm .fieldgroup label.error {
    color: #FB3A3A;
    display: inline-block;
    font-weight:500;
    padding: 0;
    text-align: left;
}

#tablaListaEPS{
	max-width: 960px;
  	margin: 10px auto;
}

#tablaListaEPS thead th {
  font-weight: 400;
  background: #47a3da;
  color: #FFF;
}

#tablaListaEPS tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

#tablaListaEPS tr:nth-child(even) {
  background: #e8eeef;
}

#tablaListaEPS th, td {
  text-align: center;
  padding: 10px;
  font-weight: 300;
}

.margenGestionContenido{
	padding-top: 10%;
}

.btnEPS{
    border-radius: 100%;
    background-color: #006699;
    color:#fff;
    width: 30px;
}

#datosIniciales{
    width: 100%;    
    margin: 0 auto;
    padding: 0% 5% 0% 5%;
    font-size: 18px;
    text-align: justify;

}

#formularioSesion{
    background: #000000;
    width: 70%;
}


#contenido{
    margin: 0 auto;
    margin-top: 5%;
    background: #ffffff;
}

.numero{
    width: 100px;
}

.nombre{
    width: 400px;
}

#reporte{
    width: 100%;    
    margin: 0 auto;
    padding: 0% 5% 0% 5%;
    text-align: left;
}

#objetivo{
    width: 90%;
    height: 40px;
    line-height: 4;
    text-height: auto;
}

#descripcion{
    width: 90%;
    height: 80px;
    line-height: 4;
    text-height: auto;
}

.tablaReporte{
    padding: 1%;
}
#firmas{
    display: inline-block;
    width: 80%;
    text-align: justify;
    margin-top: 5%;
    padding-bottom: 10%;
}

#firmaSupervisor{
    float: left;
}

#firmaPracticante{
    float: right;
}

.formulario{
    margin-left: -24%;
    margin-top: 2%;
    width: 150%;
    text-align: left;
}

.formulario tr{
    height: 140%;
    background-color:#084B8A;
}

.formulario td{
    background-color: #fff;

}

.botones{
    font-size: 12px;
    font-family: verdana,Helvetica;
    font-weight: bold;
    color: white;
    background: rgb(16, 129, 236); /* color del interior de la caja*/
    border-radius: -5px;
    border: 0px;
    width:111px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.botones:hover{
    background-color: #084B8A;
    color: #cc3300;
    position: inherit;
}

.btnAccion{
    background: #006699;
    border: #2694e8 groove 1px;
    border-radius: 100%;
    color: #fff;
    icon: url('resources/lapiz.png'); 
}

.btnAsignar, .btnHistorial, .btnVer, .btnNuevaSesion{
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: transparent;
    align-content: center;
}

.btnAsignar{
    background-image: url("resources/asignar2.png");

}

.btnHistorial{
    background-image: url("resources/historial3.png");
}

.btnVer{
     background-image: url("resources/binoculares.png");
}

.btnNuevaSesion{
    background-image: url("resources/iniciar-la-sesion.png");
}

.cajaDeAsignados{
    margin: 0 auto;
    margin-top: 10%;
    text-align: left;
    width: 60%;
    border-radius: 50px;
    border-left: #006699 groove 3px;
    border-right: #006699 groove 3px;
    border-bottom: #000 double 3px;
    padding-bottom: 2%;
}

.cajaDeAsignados h2{
    color:#fff;
    text-align: center;
    font-size: 22px;
    width: 100%;
    background: #006699;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.cajaDeAsignados h5{
    text-align: center;
   
}

.btnEditar{
	width: 35px;
    height: 35px;
    background-image: url("resources/edit.png");
}

.btnEliminar{
	width: 35px;
    height: 35px;
    background-image: url("resources/delete.png");
}

.btnEditarPersona{
	width: 35px;
    height: 35px;
    background-image: url("resources/personEdit.png");
}

.btnEliminarPersona{
	width: 35px;
    height: 35px;
    background-image: url("resources/personDelete.png");
}

.btnVerCita{
	width: 35px;
    height: 35px;
    background-image: url("resources/calendarView.png");
}
.btnCrearCita{
	width: 35px;
    height: 35px;
    background-image: url("resources/calendarNew.png");
}

.pReporte{
	text-align:justify;
	padding-right:5%;
	padding-left:5%;
	word-break: break-all;
}

.historico{
	height: 76px;
	background:#47a3da;
	float: right;
	margin-right: 5%;
}