/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/06/2016, 12:15:24 AM
    Author     : HARLIN
*/

.cajaAsignacion{    
    border: #006699 inset 5px;
    margin: 1% 10% 15% 20%;
    font-size: 12px; 
	padding: 10px;
    align-content: center;
    
}

.cajaBusqueda{    
    margin-top: 15%;
	margin-left: 20%; 	
    align-content: center;  
}

.tablaAsignacion{     
    table-layout:fixed;
    text-align: left;
	width: 100%;
    overflow-y: scroll;
}

.tdNombre{
	width: 80%;
}

.tdBoton{
	width: 10%;
	align-content: center;
}

.btnAsignar{
    background-image: url("resources/asignar2.png");
}

.btnVer{
     background-image: url("resources/binoculares.png");
}