.cajaTablas{
    display: inline-block;
    width:100%;
    margin: 0 auto;    
    border: 2px solid #084B8A;
    margin-top: 10%;
    border-radius: 2%;
    background-color: #fff;
}

.cajaVentanaAsignacion{   
    margin-top: 10%;
	margin-left: 25%;
	margin-right: 10%;
    font-size: 20px;
    background-color: #fff;
}

.cajaVentanaAsignacion p{
	font-size: 36px;
	text-align: center;
}

.cajaVentanaAsignacion table{
	width: 100%;
}

.cajaVentanaAsignacion td{
	width: 50%;
	padding: 2%;
	vertical-align: top;
}

.cajaAsignacion{    
    border: #006699 inset 5px;
    margin: 1% 10% 15% 20%;
    font-size: 12px; 
	padding: 10px;
    align-content: center;
    
}

.cajaBusqueda{    
    margin-top: 15%;
	margin-left: 20%; 	
    align-content: center;  
}

.tablaAsignacion{     
    table-layout:fixed;
    text-align: left;
	width: 100%;
    overflow-y: scroll;
}

.tdNombre{
	width: 80%;
}

.tdBoton{
	width: 10%;
	align-content: center;
}

.btnAsignar{
    background-image: url("resources/asignar2.png");
}

.btnVer{
     background-image: url("resources/binoculares.png");
}