@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Cabin');

.droidSans{
	font-family: 'Droid Sans', sans-serif;
}

.roboto{
	font-family: 'Roboto', sans-serif;
}

.cabin{
	font-family: 'Cabin', sans-serif;
}

#marcoSeleccionPersona {
 	background:#fff;
    border: 1px solid #DFDCDC;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 2%;
    /*padding: 25px 50px 10px;*/
    padding-left: 10px;
    padding-right: 55px;
    width: 60%;
 	font-family:Tahoma, Geneva, sans-serif;
}

#marcoSeleccionPersona .fieldgroup {
    /*background: url("form-divider.gif") repeat-x scroll left top transparent;*/
    display: inline-block;
    padding: 8px 10px;
    width: 340px;
}

#marcoSeleccionPersona .fieldgroup input{
    margin: 10px 0;
    height: 40px;
 	width:100%;
	border:solid #cdcdcd 1px;
 	border-radius:3px;
 	padding-left:10px;
 	font-size: 16px;
}

#marcoSeleccionPersona .fieldgroup select{
    margin: 10px 0;
    height: 40px;
 	width:103%;
	border:solid #cdcdcd 1px;
 	border-radius:3px;
 	padding-left:10px;
 	font-size: 16px;
}

#marcoSeleccionPersona .submit {
    padding: 10px;
    height: 40px !important;
 background:#00a2d1;
 color:#fff;
 font-weight:bolder;
 border:solid #cdcdcd 1px;
 border-radius:3px;
}

#marcoSeleccionPersona .fieldgroup label.error {
    color: #FB3A3A;
    display: inline-block;
    font-weight:500;
    padding: 0;
    text-align: left;
}

#tablaUsuarios{
	max-width: 960px;
  	margin: 10px auto;
}

#tablaUsuarios thead th {
  font-weight: 400;
  background: #47a3da;
  color: #FFF;
}

#tablaUsuarios tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

#tablaUsuarios tr:nth-child(even) {
  background: #e8eeef;
}

#tablaUsuarios th, td {
  text-align: center;
  padding: 10px;
  font-weight: 300;
}


.cajaTablas{
    display: inline-block;
    width:100%;
    margin: 0 auto;    
    border: 2px solid #084B8A;
    margin-top: 10%;
    border-radius: 2%;
    background-color: #fff;
}

.cajaVentanaAsignacion{   
    margin-top: 10%;
	margin-left: 25%;
	margin-right: 10%;
    font-size: 20px;
    background-color: #fff;
}

.cajaVentanaAsignacion p{
	font-size: 36px;
	text-align: center;
}

.cajaVentanaAsignacion table{
	width: 100%;
}

.cajaVentanaAsignacion td{
	width: 50%;
	padding: 2%;
	vertical-align: top;
}

.cajaAsignacion{    
    border: #006699 inset 5px;
    margin: 1% 10% 15% 20%;
    font-size: 12px; 
	padding: 10px;
    align-content: center;
    
}

.cajaBusqueda{    
    margin-top: 15%;
	margin-left: 20%; 	
    align-content: center;  
}

.tablaAsignacion{     
    table-layout:fixed;
    text-align: left;
	width: 100%;
    overflow-y: scroll;
    background-color: #ffffff;
}

.tdNombre{
	width: 32%;
}

.tdBoton{
	width: 10%;
	align-content: center;
}

.btnAsignar{
    background-image: url("resources/asignar2.png");
}

.btnVer{
     background-image: url("resources/binoculares.png");
}