/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/06/2016, 10:05:04 PM
    Author     : Alejandro
*/

@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";


h1#titulo{
    margin-top: 10%;
    background-color: #ffffff;
    width: 100%;   
}

.rwd-table{
    /*border:#cc3300 solid 2px;*/
    margin: 0 auto;
    font-size: 12px;
    background-color: #ffffff;
    border: #006699 solid 2px;
    border-radius: 10px;
    padding: 0.5%;
}
.rwd-table tr{
/*   background-color:#e7e7f5;*/
}

.rwd-table th{
    /*position: fixed;*/
    width: auto;  
    font-style:italic;
    font-size: 16px;     
    color: #006699;
    background:#f2f5f7;
/*    border-radius:2px;
    background: #cc3c21;
    color: #ffffff;*/
}



.rwd-table td{
    text-align: right;
    margin-left:5px; 
    
    
}

.rwd-table tr:hover{
    position: relative;
    color: #006699;
    background:#f2f5f7;
}